@model CosmeticWeb.Models.HomeSlider

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminPannel.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Create a new product</h2>
        <br />
        <br />
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Name ..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" placeholder="Comment ..." />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ReadMore" class="control-label"></label>
                <input asp-for="ReadMore" class="form-control" placeholder="Read more ..." />
                <span asp-validation-for="ReadMore" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" accept="image/*" placeholder="Image ..."/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <br />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}