@model CosmeticWeb.Models.HomeSlider

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminPannel.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Are you sure you want to delete?</h2>
        <br />
        <br />
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" readonly />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ReadMore" class="control-label"></label>
                <input asp-for="ReadMore" class="form-control" readonly />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
                <br />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>