@model CosmeticWeb.Models.ContactUs

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminPannel.cshtml";
}

<h1>Edit</h1>

<h4>ContactUs</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <h2>Edit @Model.Name</h2>
        <br />
        <br />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Name ..."/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" placeholder="Subject ..."/>
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
             <br />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email ..."/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" placeholder="Message ..."/>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <br />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}