@model CosmeticWeb.Models.Gallery

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminPannel.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Add a new photo in gallery</h2>
        <br />
        <div class="image-container">
            <img id="img2" src="" width="200px" />
        </div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control"  accept="image*/" onchange="loadImage(event)" id="imgfile" placeholder="Image ..." />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <br />
                <a asp-action="Index" class="btn">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var loadImage = function (event) {
            var arr = document.getElementById("arr");
            var image = document.getElementById('img2');
            image.style.width = "400px";
            image.src = URL.createObjectURL(event.target.files[0]);
            arr.style.display = "block";
        }
    </script>
}